<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DatabaseMaintenance.Properties.Settings.NDBUnitConnectionString" connectionString="Data Source=PROGRAMMING\SQLEXPRESS;Initial Catalog=NDBUnit;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.101.0" newVersion="1.0.101.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>